body {
    text-align: center;
}

.center {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}