.home-page-container {
    font-family: Arial, sans-serif;
    background-color: rgb(23, 22, 22);
}

.hero-section {
    height: 400px;
    background-image: 'product.jpg';
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-content {
    text-align: center;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: peachpuff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: burlywood;
}

.featured-products {
    padding: 20px;
    text-align: center;
}

.featured-products h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.product-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}